
.titulo, .pregunta{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo > h1{
    font-family: "Against", "sans-serif";
    color: white;
    margin: 0;font-weight: 700;
    text-shadow: 4px 4px 2px var(--colFondo);
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}

.contentQR{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

#qrcode{
    padding: 10px;
    background-color: var(--colFondo);
}

.numUsers{
    position: absolute;
    bottom: 60px;
    left: 80px;
    z-index: 99;
    color: var(--colFondo);
    text-shadow: 1px 1px 1px white;
    font-family: "Gogh", "sans-serif";
    font-size: 3.5rem;
}

.pregunta > h2{
    font-family: "Gogh", "sans-serif";
    color: white;
    margin: 0;
    text-shadow: 4px 4px 2px var(--colFondo);
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.pregunta > h3{
    font-family: "Gogh", "sans-serif";
    color: white;
    margin: 0;
    font-weight: 700;
    text-shadow: 4px 4px 2px var(--colFondo);
    font-size: 3rem;
    text-align: center;
    width: 70%;
}

.votaciones, .resolucion{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.votaciones > h2, .resolucion > h2{
    font-family: "Gogh", "sans-serif";
    color: white;
    margin: 0;
    font-weight: 700;
    text-shadow: 4px 4px 2px var(--colFondo);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    margin-top: 30px;
}

.votaciones > h3, .resolucion > h3{
    font-family: "Gogh", "sans-serif";
    color: white;
    margin: 0;
    font-weight: 700;
    text-shadow: 4px 4px 2px var(--colFondo);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    margin-top: 30px;
}

.votaciones > .opcVotaciones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.votaciones > .opcVotaciones > .opc{
    margin: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
}

.votaciones > .opcVotaciones > .opc > .user{
    background-color: var(--colBorde);
    width: 25%;
    border-radius: 0 20px 20px 0;
    color: white;
    font-family: "Gogh", "sans-serif";
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.votaciones > .opcVotaciones > .opc > .num{
    background-color: var(--colBorde);
    width: 20%;
    border-radius: 0 20px 20px 0;
    color: white;
    font-family: "Gogh", "sans-serif";
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.votaciones > .opcVotaciones > .opc > .user{
    width: 80%;
    background-color: var(--colFondo);
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resolucion > .contResol{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    padding: 50px;
}


.resolucion > .contResol > .resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
}

.resolucion > .contResol > .resultado > .user{
    background-color: var(--colFondo);
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    color: white;
    font-size: 2rem;
    font-family: "Gogh", "sans-serif";
    text-align: center;
    text-transform: uppercase;
}

.resolucion > .contResol > .resultado > .imgUsers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.resolucion > .contResol > .resultado > .imgUsers > div{
    background-size: cover;
    background-position: center;
    border: 3px solid var(--colBorde);
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 100%;
}


.resolucion > .contResol > .ranking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
}

.resolucion > .contResol > .ranking > div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
    padding: 20px;
    font-family: "Gogh";
    border-radius: 20px;
    border: 3px solid var(--colFondo);
    width: 70%;
    font-size: 1.5rem;
}

.resolucion > .contResol > .ranking > div > p{
    position: absolute;
    background-color: var(--colFondo);
    color: white;
    padding: 10px 20px ;
    border-radius: 30px;
    font-size: .8rem;
    transform: translateY(+120%);
}

#pos1{
    background-color: #ffd900c5;
}

#pos2{
    background-color: #c0c0c0c7;
}

#pos3{
    background-color: #cd8032bd;
}